<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Memorize</title>
	<link rel="stylesheet" type="text/css" href="./assets/style.css">
</head>
<body>
	<nav>
		<ul>
			<li>
				<h1>Memorize</h1>
			</li>
		</ul>
	</nav>
	<div class="container">
		<div id="app">
			<h1>{{ appName }}</h1>

			<div v-if="!isPlaying && !gameEnd" class="screen">
				<h2>How to play?</h2>
				<ul>
					<li v-for="rule in rules">{{ rule }}</li>
				</ul>
				<button @click="startGame">START GAME</button>
			</div>

			<div v-if="isPlaying && !gameEnd" class="screen">
				<h3>Level:<span>{{ currentLevel }}</span></h3>
				<h3>Lives: {{ playerLives }}</h3>
				<h3>Played: {{ playerSequence }}</h3>
				<h3 v-if="feedback.msg" :class="feedback.color">{{ feedback.msg }}</h3>
				<h3 v-else>Memorize and replay the sequence</h3>
				<button @click="clearPlayerSequence">clear</button>
				<button @click="gameOver" class="red-bg">quit</button>
				<div class="soduko">
					<div v-for="tile in currentBoard" class="square flex justify-center align-center" @click="playerMove(tile.id)" :class="{green: tile.color === 'green'}">{{ tile.id }}</div>
				</div>
			</div>

			<div v-if="gameEnd" class="screen">
				<h3>Level reached: {{ currentLevel }}</h3>
				<h3>Game Time: {{ gameTime }}</h3>
				<button @click="newGame">NEW GAME</button>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="./assets/vue.global.min.js"></script>
	<script type="text/javascript" src="./assets/index.js"></script>
</body>
</html>